apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
      - name: task-manager-app
        # IMPORTANT: Use the exact image you just pushed
        image: deepajoshi695/task-manager-app:v1.0
        ports:
        - containerPort: 8080
        imagePullPolicy: Always

---

apiVersion: v1
kind: Service
metadata:
  name: task-manager-service
spec:
  type: NodePort
  selector:
    app: task-manager
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30001
